<!--Aleksander 25-03-2025-->
<div class="window">
    <div #chat class="message-window">
        @for (ms of msg; track ms.timeStamp) {
            <div class="messageBlock">
                <p class="messageUser"><span>{{ ms.userName || 'Anonymous' }}</span></p>
                <p class="messageText">{{ ms.message }}</p>
            </div>
        }
    </div>
    <div class="textInput">        
        <input type="text" [(ngModel)]="input" (keydown.enter)="makeMessage()">
        <button (click)="makeMessage()">test</button>
    </div>
</div>
<!--Aleksander 25-03-2025-->
