/*Aleksander 25-03-2025*/
.window {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
    border-radius: 1rem;
    background-color: white;
    /* for testing perpose*/
        height: 80%;
}

/* for testing */
span {
    font-weight: bold;
}

.message-window {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 1rem 1rem 0 1rem;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    height: 100%;

}

.messageBlock {
    width: fit-content;
    max-width: 100%;
    background-color: #4cf;
    margin-bottom: .5rem;
    padding: 0 .5rem .5rem;
    border-radius: .5rem;
    word-wrap: break-word;
}

.messageBlock .messageText {
    word-wrap: inherit;
    overflow-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.messageBlock .messageUser {
    border-bottom: 1px solid black;
}

.textInput {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.textInput * {
    background-color: #ddd;
    border: 0;
    height: 2rem;
    outline: none;
}

.textInput button {
    border-radius: 0 1rem 1rem 0;
    width: 2rem;
}

.textInput input {
    width: 80%;
    padding: 1rem;
    border-radius: 1rem 0 0 1rem;
}
/*Aleksander 25-03-2025*/
