<!--martin 25-03-2025-->

<div class="login-container">
  <div class="login-box">
    <h2>Login</h2>
    <div class="input-group">
      <input type="email" [value]="email" (input)="sendEmail($event)" (keyup.enter)="login()" placeholder="E-mail" />
      <!-- <<-- Added (keyup.enter)="login()" to support Enter key -->
    </div>
    <div class="input-group">
      <input type="password" [value]="password" (input)="sendPassword($event)" (keyup.enter)="login()" placeholder="Password" />
      <!-- <<-- Added (keyup.enter)="login()" to support Enter key -->
    </div>
    <button class="login-btn" (click)="login()">Login</button>
    <p class="signup-text">
      Don't have an account? 
      <button class="signup-btn" (click)="goToSignup()">Signup</button>
    </p>
  </div>
<!--martin 25-03-2025-->


  <div *ngIf="errorMessage" class="error-box">
    {{ errorMessage }}
  </div>
</div>


