<!--hazel 2025-03-2025-->
<div class="container" *ngIf="game">
  <div class="game-container">
    <div class="game-header">
        <img [src]="game.imageUrl" alt="{{ game.title }}" />
        <h2 class="game-title">{{ game.title }}</h2>
    </div>
    <iframe 
      [src]="safeUrl" 
      width="1024" 
      height="576"
      id="unityGame"
      title="Unity WebGL Game">
    </iframe>
  </div>
  
  <!-- Ny sektion: Inputfelt til score -->

</div>
<div class="score-input">
  <label for="scoreInput">Indtast din score:</label>
  <input id="scoreInput" type="number" [(ngModel)]="manualScore" placeholder="Skriv score her">
  <button (click)="submitScore()">Send Score</button>
</div>
<p *ngIf="!game">Loading game...</p>
<!--hazel 2025-03-2025-->
