<div class="container" *ngIf="game">
  <button class="show-hideChat" (click)="toggleChat()">
    {{ showChat ? 'Skjul Chat' : 'Vis Chat' }}
  </button>

  <div class="chat" [class.hide]="!showChat">
    <app-chat [gameId]="gameId"></app-chat>
  </div>

  <div class="game-container">
    <div class="game-header">
      <img [src]="game.imageUrl" alt="{{ game.title }}" />
      <h2 class="game-title">{{ game.title }}FISH</h2>
    </div>

    <iframe
      [src]="safeUrl"
      width="100%"
      id="unityGame"
      title="Unity WebGL Game">
    </iframe>
  </div>
</div>
